@model ProductManagment.Models.ProductView

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productVm.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productVm.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productVm.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brandVm.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productVm.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productVm.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sectionVm.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sectionVm.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.materialVm.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.materialVm.Name)
        </dd>
        <dt class = "col-sm-2">
           Kategoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prodTypeVm.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
